rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Note: This rule allows anyone with your project ID to read and write
    // to the entire database. This is NOT secure and should be replaced
    // with more granular rules.
    match /{document=**} {
      allow read, write: if true;
    }
     match /posts/{postId} {
      allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.authorId;
    }
     match /gymRats/{postId} {
      allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.authorId;
    }
  }
}
