@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 262.1 83.3% 57.8%; /* Indigo 500 */
    --primary-foreground: 0 0% 98%;
    --secondary: 142.1 76.2% 36.3%; /* Emerald 500 */
    --secondary-foreground: 0 0% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%; /* Red 500 */
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem; /* rounded-2xl */
    
    /* Custom colors */
    --color-purple: 259 92% 67%; /* purple-500 */
    --color-red: 0 84% 60%; /* red-500 */
    
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 220 10% 10%;
    --foreground: 0 0% 98%;
    --card: 220 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 220 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 263.4 92% 70.2%; /* Indigo 500 */
    --primary-foreground: 0 0% 98%;
    --secondary: 142.1 70.6% 45.3%; /* Emerald 500 */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 263.4 92% 70.2%;
    
    /* Custom colors */
    --color-purple: 259 92% 77%; /* purple-500 */
    --color-red: 0 74% 50%; /* red-500 */
    
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  .recharts-bar-rectangle path.hover\\:fill-purple-400:hover {
      fill: var(--color-purple-400) !important;
  }
}
